################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hotel Resevation System/.vs/Hotel Resevation System/v14
/Hotel Resevation System/Hotel Resevation System/obj/Debug
/Hotel Resevation System/Hotel Resevation System/bin/Debug
/Hotel Resevation System/.vs/HotelResevationSystem/v14
/.vs
/Hotel Resevation System/.vs/HotelResevationSystem/v15/Server/sqlite3
/Hotel Resevation System/Hotel Resevation System/obj/Release
/Hotel Resevation System/Hotel Resevation System/HotelResevationSystem.csproj.user
/Hotel Resevation System/.vs/HotelResevationSystem
/Hotel Resevation System/HotelBokkingClient/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelBokkingClient/obj
/Hotel Resevation System/HotelBookingModel/obj
/Hotel Resevation System/HotelBookingModel/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelReservationModel/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelReservationModel/obj
/Hotel Resevation System/HotelBookingFactory/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelBookingFactory/obj
/Hotel Resevation System/HotelBookingClient/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelBookingClient/obj
/Hotel Resevation System/HotelBookingDBLayer/bin/Debug/netcoreapp2.1
/Hotel Resevation System/HotelBookingDBLayer/Migrations
/Hotel Resevation System/HotelBookingDBLayer/obj
